USE [master]
GO
/****** Object:  Database [YourEyes]    Script Date: 11/6/2025 1:24:06 AM ******/
CREATE DATABASE [YourEyes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YourEyes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER1\MSSQL\DATA\YourEyes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YourEyes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER1\MSSQL\DATA\YourEyes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YourEyes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YourEyes]
GO
/****** Object:  Table [dbo].[User_Product_Activity]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Product_Activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[action_type] [nvarchar](50) NULL,
	[action_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_profile]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_profile](
	[user_id] [int] NOT NULL,
	[gender] [nvarchar](100) NULL,
	[age] [int] NULL,
	[height] [decimal](5, 2) NULL,
	[weight] [decimal](5, 2) NULL,
	[style_preference] [nvarchar](255) NULL,
	[updated_at] [datetime] NULL,
	[cluster_id] [int] NULL,
 CONSTRAINT [PK_user_profile] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NULL,
	[category_id] [int] NULL,
	[image_url] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[size] [varchar](255) NULL,
	[color] [nvarchar](255) NULL,
	[gender_target] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[role_id] [int] NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[User_Product_View]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[User_Product_View] AS
SELECT 
    u.id as user_id,
    u.fullname,
    up.gender,
    up.age,
    p.id as product_id,
    p.name AS product_name,
    upa.action_type,
    upa.action_time
FROM User_Product_Activity upa
JOIN users u ON u.id = upa.user_id
LEFT JOIN user_profile up ON up.user_id = u.id
JOIN products p ON p.id = upa.product_id;
GO
/****** Object:  Table [dbo].[cart]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_selected]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_selected](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_percentage] [decimal](5, 2) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[total_price] [numeric](21, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[total_price] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[discount_id] [int] NULL,
	[final_price] [numeric](38, 2) NULL,
	[isPaid] [bit] NOT NULL,
	[paidAt] [datetime] NULL,
	[is_paid] [bit] NULL,
	[paid_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendations]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[score] [int] NULL,
	[generated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Search_History]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[search_text] [nvarchar](255) NULL,
	[search_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_imports]    Script Date: 11/6/2025 1:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_imports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[import_quantity] [int] NOT NULL,
	[import_date] [datetime] NULL,
	[code_id] [varchar](255) NULL,
	[id_employee] [int] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [user_id], [product_id], [quantity], [created_at]) VALUES (9, 2009, 1026, 2, CAST(N'2025-11-03T22:27:17.070' AS DateTime))
INSERT [dbo].[cart] ([id], [user_id], [product_id], [quantity], [created_at]) VALUES (10, 2009, 1033, 2, CAST(N'2025-11-03T22:28:57.493' AS DateTime))
INSERT [dbo].[cart] ([id], [user_id], [product_id], [quantity], [created_at]) VALUES (11, 2009, 1025, 2, CAST(N'2025-11-03T22:29:07.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description]) VALUES (1, N'Áo sơ mi', N'Các loại áo sơ mi nam, nữ')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (2, N'Áo khoác', N'Các loại áo khoác gió, khoác dù')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (3, N'Giày', N'Các loại giày thể thao, sneaker')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[discounts] ON 

INSERT [dbo].[discounts] ([id], [code], [description], [discount_percentage], [start_date], [end_date], [created_at]) VALUES (1, N'DISCOUNT2025', N'New Year Discount', CAST(15.50 AS Decimal(5, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2025-01-31' AS Date), NULL)
INSERT [dbo].[discounts] ([id], [code], [description], [discount_percentage], [start_date], [end_date], [created_at]) VALUES (7, N'SPRING2025', N'Spring Sale Discount', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-03-01' AS Date), CAST(N'2025-03-31' AS Date), CAST(N'2025-03-17T22:08:00.817' AS DateTime))
INSERT [dbo].[discounts] ([id], [code], [description], [discount_percentage], [start_date], [end_date], [created_at]) VALUES (9, N'SPRING2025-N2', N'Spring Sale Discount', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-03-01' AS Date), CAST(N'2025-03-31' AS Date), CAST(N'2025-03-17T22:29:37.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [product_id], [quantity], [price], [created_at], [total_price]) VALUES (90, 59, 1023, 1, CAST(300000.00 AS Decimal(10, 2)), CAST(N'2025-06-13T22:16:13.350' AS DateTime), CAST(300000.00 AS Numeric(21, 2)))
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [quantity], [price], [created_at], [total_price]) VALUES (91, 60, 1024, 2, CAST(200000.00 AS Decimal(10, 2)), CAST(N'2025-06-16T20:23:12.270' AS DateTime), CAST(400000.00 AS Numeric(21, 2)))
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [quantity], [price], [created_at], [total_price]) VALUES (92, 61, 1026, 1, CAST(800000.00 AS Decimal(10, 2)), CAST(N'2025-06-16T21:10:29.243' AS DateTime), CAST(800000.00 AS Numeric(21, 2)))
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [total_price], [status], [created_at], [discount_id], [final_price], [isPaid], [paidAt], [is_paid], [paid_at]) VALUES (59, 1002, CAST(300000.00 AS Decimal(10, 2)), N'returned', CAST(N'2025-06-13T22:16:13.333' AS DateTime), 20, CAST(225000.00 AS Numeric(38, 2)), 0, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [user_id], [total_price], [status], [created_at], [discount_id], [final_price], [isPaid], [paidAt], [is_paid], [paid_at]) VALUES (60, 1002, CAST(400000.00 AS Decimal(10, 2)), N'completed', CAST(N'2025-06-16T20:23:12.250' AS DateTime), NULL, CAST(400000.00 AS Numeric(38, 2)), 0, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [user_id], [total_price], [status], [created_at], [discount_id], [final_price], [isPaid], [paidAt], [is_paid], [paid_at]) VALUES (61, 1002, CAST(800000.00 AS Decimal(10, 2)), N'canceled', CAST(N'2025-06-16T21:10:29.230' AS DateTime), 20, CAST(600000.00 AS Numeric(38, 2)), 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[recommendations] ON 

INSERT [dbo].[recommendations] ([id], [user_id], [product_id], [score], [generated_at]) VALUES (1, 1002, 1027, 6, CAST(N'2025-11-05T23:11:54.973' AS DateTime))
INSERT [dbo].[recommendations] ([id], [user_id], [product_id], [score], [generated_at]) VALUES (2, 1002, 1023, 4, CAST(N'2025-11-05T23:11:54.973' AS DateTime))
INSERT [dbo].[recommendations] ([id], [user_id], [product_id], [score], [generated_at]) VALUES (3, 1002, 1025, 3, CAST(N'2025-11-05T23:11:54.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[recommendations] OFF
GO
SET IDENTITY_INSERT [dbo].[Search_History] ON 

INSERT [dbo].[Search_History] ([id], [user_id], [search_text], [search_time]) VALUES (1, 1002, N'Dior nam', CAST(N'2025-10-28T16:38:43.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[Search_History] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_imports] ON 

INSERT [dbo].[stock_imports] ([id], [product_id], [import_quantity], [import_date], [code_id], [id_employee], [price]) VALUES (18, 1024, 50, CAST(N'2025-06-13T22:35:08.273' AS DateTime), N'202506184123', 1002, NULL)
INSERT [dbo].[stock_imports] ([id], [product_id], [import_quantity], [import_date], [code_id], [id_employee], [price]) VALUES (19, 1023, 20, CAST(N'2025-06-13T22:35:14.323' AS DateTime), N'202506186862', 1002, NULL)
INSERT [dbo].[stock_imports] ([id], [product_id], [import_quantity], [import_date], [code_id], [id_employee], [price]) VALUES (20, 1025, 70, CAST(N'2025-06-13T22:35:19.073' AS DateTime), N'202506184932', 1002, NULL)
SET IDENTITY_INSERT [dbo].[stock_imports] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Product_Activity] ON 

INSERT [dbo].[User_Product_Activity] ([id], [user_id], [product_id], [action_type], [action_time]) VALUES (1, 1002, 1029, N'ADD_TO_CART', CAST(N'2025-10-28T20:43:40.933' AS DateTime))
INSERT [dbo].[User_Product_Activity] ([id], [user_id], [product_id], [action_type], [action_time]) VALUES (2, 1002, 1026, N'ADD_TO_CART', CAST(N'2025-10-28T20:45:03.340' AS DateTime))
INSERT [dbo].[User_Product_Activity] ([id], [user_id], [product_id], [action_type], [action_time]) VALUES (3, 1002, 1032, N'VIEW_DETAIL', CAST(N'2025-10-28T20:45:59.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[User_Product_Activity] OFF
GO
INSERT [dbo].[user_profile] ([user_id], [gender], [age], [height], [weight], [style_preference], [updated_at], [cluster_id]) VALUES (1002, N'Nam', 30, CAST(191.00 AS Decimal(5, 2)), CAST(87.00 AS Decimal(5, 2)), N'Lịch sự', CAST(N'2025-11-03T23:50:42.600' AS DateTime), NULL)
INSERT [dbo].[user_profile] ([user_id], [gender], [age], [height], [weight], [style_preference], [updated_at], [cluster_id]) VALUES (2009, N'Nữ', 35, CAST(160.00 AS Decimal(5, 2)), CAST(50.00 AS Decimal(5, 2)), N'Công sở', NULL, NULL)
INSERT [dbo].[user_profile] ([user_id], [gender], [age], [height], [weight], [style_preference], [updated_at], [cluster_id]) VALUES (2010, N'Nam', 42, CAST(175.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), N'Tối giản', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [fullname], [email], [password], [phone], [address], [role_id], [created_at], [is_active]) VALUES (1002, N'Admin1', N'admin@gmail.com', N'$2a$10$mcbHnBqmQFfyRdUwpCHp..YsEtqmtdolU.jYTwWB9kg5YDnU//bI6', N'01234', N'QN', 2, NULL, 1)
INSERT [dbo].[users] ([id], [fullname], [email], [password], [phone], [address], [role_id], [created_at], [is_active]) VALUES (2009, N'Khach Hang 1', N'khachhang1@gmail.com', N'$2a$10$/X.w5aJ1koH0mhWpcNjOQuo9LbNkPWtMmczEgxGmAWbCv5a4Ldffe', N'01234', N'BN', 1, NULL, 0)
INSERT [dbo].[users] ([id], [fullname], [email], [password], [phone], [address], [role_id], [created_at], [is_active]) VALUES (2010, N'Khach Hang 3', N'khachhang3@gmail.com', N'$2a$10$1NVxJTvLQeAZm9EkCSvgYOmjy9Q96qjW4NXJ6MC5VKyuo9uiVCMOS', N'01234', N'BN', 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__72E12F1B6F8B7C3C]    Script Date: 11/6/2025 1:24:06 AM ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__discount__357D4CF9743AF2F6]    Script Date: 11/6/2025 1:24:06 AM ******/
ALTER TABLE [dbo].[discounts] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__user_pro__B9BE370EC93B8664]    Script Date: 11/6/2025 1:24:06 AM ******/
ALTER TABLE [dbo].[user_profile] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164FEBEB23A]    Script Date: 11/6/2025 1:24:06 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_details] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF_orders_total_price]  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [isPaid]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[recommendations] ADD  DEFAULT (getdate()) FOR [generated_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Search_History] ADD  DEFAULT (getdate()) FOR [search_time]
GO
ALTER TABLE [dbo].[stock_imports] ADD  DEFAULT (getdate()) FOR [import_date]
GO
ALTER TABLE [dbo].[User_Product_Activity] ADD  DEFAULT (getdate()) FOR [action_time]
GO
ALTER TABLE [dbo].[user_profile] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cart]  WITH NOCHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart]  WITH NOCHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_selected]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH NOCHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_details]  WITH NOCHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([discount_id])
REFERENCES [dbo].[discounts] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders]  WITH NOCHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[recommendations]  WITH CHECK ADD  CONSTRAINT [FK_recommendations_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recommendations] CHECK CONSTRAINT [FK_recommendations_product]
GO
ALTER TABLE [dbo].[recommendations]  WITH CHECK ADD  CONSTRAINT [FK_recommendations_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recommendations] CHECK CONSTRAINT [FK_recommendations_user]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Search_History]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Search_History]  WITH CHECK ADD  CONSTRAINT [FK8ll2cxj6i83mnrcyxrxl4b7dm] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Search_History] CHECK CONSTRAINT [FK8ll2cxj6i83mnrcyxrxl4b7dm]
GO
ALTER TABLE [dbo].[stock_imports]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_imports]  WITH CHECK ADD  CONSTRAINT [FK_StockImports_Employee] FOREIGN KEY([id_employee])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[stock_imports] CHECK CONSTRAINT [FK_StockImports_Employee]
GO
ALTER TABLE [dbo].[User_Product_Activity]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[User_Product_Activity]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[User_Product_Activity]  WITH CHECK ADD  CONSTRAINT [FKdyeh5orli2q6xhhnubqmgq10u] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[User_Product_Activity] CHECK CONSTRAINT [FKdyeh5orli2q6xhhnubqmgq10u]
GO
ALTER TABLE [dbo].[User_Product_Activity]  WITH CHECK ADD  CONSTRAINT [FKpaiitw0sivbe26m678aijdh98] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[User_Product_Activity] CHECK CONSTRAINT [FKpaiitw0sivbe26m678aijdh98]
GO
ALTER TABLE [dbo].[user_profile]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart]  WITH NOCHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD CHECK  (([discount_percentage]>=(0) AND [discount_percentage]<=(100)))
GO
ALTER TABLE [dbo].[order_details]  WITH NOCHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[order_details]  WITH NOCHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[orders]  WITH NOCHECK ADD CHECK  (([total_price]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_status] CHECK  (([status]='canceled' OR [status]='returned' OR [status]='completed' OR [status]='shipping' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_status]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
